{
    "workbench.startupEditor": "newUntitledFile",
    "telemetry.telemetryLevel": "off",
    "git.confirmSync": false,
    "git.autofetch": true,
    "editor.fontSize": 14,
    "workbench.colorTheme": "Nord",
    "editor.fontFamily": "Fira Code",
    "redhat.telemetry.enabled": false,
    "terminal.integrated.fontFamily": "Fira Code",
}
